@charset "UTF-8";

@media screen and (min-width:10px) and (max-width:500px){

.bar {
   position: fixed; /* 固定配置 */
   top: 10px;  /* 基点（ウィンドウ）からの距離 */
   right: 20px;  /* 基点（ウィンドウ）からの距離 */
   width: 20%;
   border:1px solid #D49999; 
   background-color:rgba(0,250,200,0.2);
   z-index: 9;
}

p {
  text-align:center; 
  line-height: 95%;
  position: relative; 
  z-index: 10; 
}
  
div.祖 {width: 100%; padding: 2px; border: 1.5px solid pink; box-sizing: border-box; display: flex; flex-flow: column; position: relative; }
div.親1 {width: 99%; height: 325px; box-sizing: border-box; width: 100%; position: relative; }
div.親2 {width: 99%; height: 700px; box-sizing: border-box; width: 100%; display: flex; flex-flow: column; text-align: center; }
div.親3 {width: 99%; height: 750px; box-sizing: border-box; width: 100%; display: flex; flex-flow: column; border: 2px solid lime; background-color:rgba(0,250,200,0.2); box-sizing: border-box; text-align: left; font-size: 90%; }
div.親4 {width: 99%; height: 550px; box-sizing: border-box; width: 100%; position relative; }
  
div.店内1 img {width: 98.5%; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; }

div.text1 {width: 85%; height: 325px; margin: 0 auto; }
div.店内2 img {width: 85%; display: block; margin: 0 auto; }

 div.text5 {border:2px solid orange; width: 60%; height: 20px; background-color: rgba(100, 250, 0, 0.2); text-align: left; font-size: 90%;}
 div.子1 {border: 2px solid green; background-color:rgba(0,250,200,0.2); display: flex; box-sizing: border-box; width: 375px; height: 345px;}
 
div.ヘア1 img {border: 3px solid orange; background-color:rgba(0,250,200,0.2); box-sizing: border-box;width: 100%;}
div.ヘア2 img {border: 3px solid orange; background-color:rgba(0,250,200,0.2); box-sizing: border-box;width: 100%;}
div.ヘア3 img {border: 3px solid orange; background-color:rgba(0,250,200,0.2); box-sizing: border-box;width: 100%;}  
div.ヘア4 img {border: 3px solid orange; background-color:rgba(0,250,200,0.2); box-sizing: border-box;width: 100%;}
